nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")

      a(class="navbar-brand" href="#") Project name

    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") Dashboard
        li
          a(href="#") Settings
        li
          a(href="#") Profile
        li
          a(href="#") Help

      form(class="navbar-form navbar-right")
        input(type="text" class="form-control" placeholder="Search...")